{% extends 'layouts.html' %}

{% block content %}
<style>
  body{
    text-align: center;
    list-style-position: inside;
  }
</style>
<body>
    <h1>
        Hey! So I'm Emily
    </h1>

    <h3>
        Who I am
    </h3>
    <p>
        I grew up in NYC and loved it! 
        My second time away from being in the city was when I went to Marist College's main campus for my sophomore year. 
        My first time away from the city was my Freshman year when I studied in Florence, Italy. 
        It was amazing to expierence a new culture, and see all the gorgeous sights it went by in the blink of an eye and it is something that I will treasure forever. 
        As for being in poughkeepsie, NY.... I can't say I love it, but I appreciate the oppertunity it has given me. 
        Being a first gen college student, I had no idea what I wanted to do or where I wanted to go and Marist gave me the oppertunity to study aborad while I expierenced new careers and fields, 
        and even helped me reach my ultimate major chice Computer Science! Once I officially decided it felt like a giant weight as lifted off my shoulders. 
    </p>

    <h3>
        Some of my favorites
    </h3>
    <p>
        I am really bad at decision making, so instead of favorites I say "top 3" this way I can say top three when talking about anything and no one will know what the other two are. 
    <p>
        
    <h5> Top 3 colors:</h5>
    <ol>
      <li>Pink</li>
      <li>Black</li>
      <li>Purple</li>
    </ol>

    <h5> Top 3 foods:</h5>
    <ol>
      <li>Spicy Ramen</li>
      <li>Birra Tacos</li>
      <li>Spick Chicken Sandwich</li>
    </ol>

    <h5> Top 3 to watch:</h5>
    <ol>
      <li>Community</li>
      <li>The Little Prince</li>
      <li>Emo The Musical</li>
    </ol>

    <h3>
        Where in the world I have been
    </h3>
</body>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/images/florence.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/images/paris.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/images/warsaw.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/images/zurich.jpg" class="d-block w-50" alt="...">
      </div>
    </div>
  </div>



{% endblock content %}