{% extends 'layouts.html' %}

{% block content %}
<style>
  body{
    list-style-position: inside;
    text-align: center;
    color: black;
  }
</style>
  
<body>
  <h1>
     Hey! So I'm Emily
  </h1>

  <h3>
     Who I am
  </h3>
  <p>
    I grew up in NYC and loved it! 
    My second time away from being in the city was when I went to Marist College's main campus for my sophomore year. 
    My first time away from the city was my Freshman year when I studied in Florence, Italy. 
    It was amazing to expierence a new culture, and see all the gorgeous sights it went by in the blink of an eye and it is something that I will treasure forever. 
    As for being in poughkeepsie, NY.... I can't say I love it, but I appreciate the oppertunity it has given me. 
    Being a first gen college student, I had no idea what I wanted to do or where I wanted to go and Marist gave me the oppertunity to study aborad while I expierenced new careers and fields, 
    and even helped me reach my ultimate major chice Computer Science! Once I officially decided it felt like a giant weight as lifted off my shoulders. 
  </p>

  <h3>
    Some of my favorites
  </h3>
  <p>
      I am really bad at decision making, so instead of favorites I say "top 3" this way I can say top three when talking about anything and no one will know what the other two are. 
  <p>
        
  <h5> Top 3 colors:</h5>
  <ol>
    <li>Pink</li>
    <li>Black</li>
    <li>Purple</li>
  </ol>

  <h5> Top 3 foods:</h5>
  <ol>
    <li>Spicy Ramen</li>
    <li>Birra Tacos</li>
    <li>Spick Chicken Sandwich</li>
  </ol>

  <h5> Top 3 to watch:</h5>
  <ol>
    <li>Community</li>
    <li>The Little Prince</li>
    <li>Emo The Musical</li>
  </ol>

  <h3>
    Where in the world I have been
  </h3>


  <!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
    <li data-target="#carousel-example-2" data-slide-to="3"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="static/images/warsaw.jpg" alt="warsaw" width="150" height="750">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Warsaw, Poland</h3>
        <p>This was the best weekend I think i ever had, I went to a Polish 18th birthday, and had the same local give me a tour all around Warsaw! </p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="static/images/zurich.jpg" alt="zurich" width="150" height="750">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Zurich, Switzerland</h3>
        <p>I spent three days alone, walking around to all the Christmas markets. It was absolutly gorgeous.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="static/images/florence.jpg" alt="florence" width="150" height="750">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Florence, Italy</h3>
        <p>I am so blessed that I was able to get the expierence to study here freshman year, it is almost like a second home.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="static/images/paris.jpg" alt="paris" width="150" height="750">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Paris, France</h3>
        <p>The best food I have ever had in my life. If I could live anywhere in the world, it would be France.</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->


</body>

</body>

{% endblock content %}