{% extends 'layouts.html' %}

{% block content %}

<h1> Add me on... <h1>
<body>
    <h3>
        LinkedIn! 
    </h3> 
<br>
    <a href="https://www.linkedin.com/in/emily-saviano-846a51199/">
      <img src="static/images/Linkdin_sc.png" width="400" alt="LinkedIn">
    </a>
    <p>
     Click the photo to be taken to the LinkedIn page! 
    </p>
    <p>
     Originally, I had to make this as an assignment for a Career Planning course, but now I'm kind of obsessed with it. Even when I meet someone in real life I have stopped asking for normal social media, and immediatly go for the LinkedIn connection.
    </p>
</body>

<body>
    <h3>Instagram!</h3>
<br>
    <a href="https://www.instagram.com/_steezy.e/">
        <img src="static/images/ig.png" width="400" alt="Instagram">
    </a>
    <p>
        I made this Instagram account when I was in the 5th grade. It is so weird to see all my archived posts and see the confidence I had in the worsts pictures of me possible. Everyone has that cringe phase. 
    </p>
</body>

{% endblock content %}