{% extends 'layouts.html' %}

{% block content %}
<div class="container-md">
<div class="card text-center">
    <div class="card-header">
      The "About Me" section
    </div>
    <div class="card-body">
      <h5 class="card-title">Well, it's about me</h5>
      <p class="card-text">Travels, Hobbies, Interests, and Favorites</p>
      <a href="#" class="btn btn-primary">Who am I?</a>
    </div>
</div>
</div>

<div class="container-md">
  <div class="card text-center">
      <div class="card-header">
        The "Connect" section
      </div>
      <div class="card-body">
        <h5 class="card-title">Social Media fan</h5>
        <p class="card-text">LinkdIn, Instagram, TikTok</p>
        <a href="#" class="btn btn-primary">commence social media stalking</a>
      </div>
  </div>
  </div>

  <div class="container-md">
    <div class="card text-center">
        <div class="card-header">
          The "My Dog" section
        </div>
        <div class="card-body">
          <h5 class="card-title">My little baby, Mitzy!</h5>
          <p class="card-text">It's literally just me obsessing over my dog</p>
          <a href="#" class="btn btn-primary">Join me!</a>
        </div>
    </div>
    </div>
   
<div class="container-md">
  <div class="card text-center">
      <div class="card-header">
        The "Say Something!" section
      </div>
      <div class="card-body">
        <h5 class="card-title">A chance for you to leave a little comment</h5>
        <p class="card-text">Tell mw anything! How your day it, What you think of my dog, social media commentary, or something we have in common :)</p>
        <a href="#" class="btn btn-primary">Write it out!</a>
      </div>
  </div>
  </div>



<script src="{{url_for('static',filename='main.js')}}"></script>
{% endblock content %}

