{% extends 'layouts.html' %}

{% block content %}
<style>
  body{
    color: black;
  }
</style>
<br>
<!--About me container  -->
<body>
  <div class="container-md">
  <div class="card text-center">
    <div class="card-header" style="background-color: rgb(214, 90, 214)">
      The "About Me" section
    </div>
    <div class="card-body" style="background-color: plum;">
      <h5 class="card-title">Well, it's about me</h5>
      <p class="card-text">Travels, Hobbies, Interests, and Favorites</p>
      <a href="{{url_for('about')}}" class="btn btn-primary" style="background-color: rgb(29, 101, 110);">Who am I?</a>
    </div>
  </div>
  </div>

  <br>
  <!--connect card  -->
  <div class="container-md">
  <div class="card text-center">
      <div class="card-header" style="background-color: rgb(214, 90, 214)">
        The "Connect" section
      </div>
      <div class="card-body" style="background-color: plum;">
        <h5 class="card-title">Social Media fan</h5>
        <p class="card-text">LinkdIn, Instagram</p>
        <a href="{{url_for('connect')}}" class="btn btn-primary" style="background-color: rgb(29, 101, 110)";>commence social media stalking</a>
      </div>
  </div>
  </div>

  <br>
<!--Mitzy card  -->
  <div class="container-md">
    <div class="card text-center">
        <div class="card-header" style="background-color: rgb(214, 90, 214)">
          The "My Dog" section
        </div>
        <div class="card-body" style="background-color: plum;">
          <h5 class="card-title">My little baby, Mitzy!</h5>
          <p class="card-text">It's literally just me obsessing over my dog</p>
          <a href="{{url_for('dog')}}" class="btn btn-primary" style="background-color: rgb(29, 101, 110)">Join me!</a>
        </div>
    </div>
  </div>

  <br>
{% endblock content %}

