{% extends 'layouts.html' %}

<a rel="stylesheet" href="{{url_for('static',filename='main.css')}}">


{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">


    <h1>Mitzy</h1>
    <h1> shes a chiuaha</h1>


<body>
    <img src="static/images/IMG_4769.jpg" width="200" alt="dumbface">
    <p> 
        Mitzy was born on December 24th 2012, making her 8 years old now! We adopter her 5 months after, and were in love ever since. My grandma pointer her out bc she was the only dog that was asleep from the litter. 
    </p>

    <img src="static/images/IMG_4770.jpg" width="200" alt="sleepy">
    <p>
        Her hobbies inclde: Sleeping, Eating, and Occasionally playing fetch, She fits right in with my family! Mitzy hates going for walks and needs to be carried up and down the steps.
    </p>

    <img src="static/images/IMG_6273.jpg" width="200" alt="standing">
    <p>
        She is really overweight for a Chuiahuahua, coming in at 9.3Lbs. Even when we try to put her on a diet, my grandma loves to spoil her and buys chicken gizzards every time they are on sale for the dog. 
    </p>

    <img src="static/images/IMG_6239.jpg" width="200" alt="sweater">
</body>
{% endblock content %}